@import url(reset.css);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

html{
     /* para generar animaciones de puntos ancla */
    scroll-behavior: smooth;
}

:root{
    --fuenteprincipal: 'Montserrat', sans-serif;
    --fuentetitulos: 'Handlee', cursive; 
    --colorprincipal: #fa573a;
    --colorsecundario: #21242e;
    --margingrid: 1em;
    --font-size: 1em;
    --anchomaximo: 68.75em;
}

.container{
    max-width: var(--anchomaximo);
    margin: 0 auto;
}

body{
    font-family: var(--fuenteprincipal);
    font-size: var(--font-size);
}

/* inicio header */

header .nav-top{
    background-color: var(--colorsecundario);
    padding: 1.25em 0px;
}

header .nav-top .container{
    display: flex;
    justify-content: space-around;
}

header .nav-top a{
    color: var(--colorprincipal);
    text-decoration: none;
}

header .nav-top a i{
    font-size: 150%;
}

header .nav-top span{
    color: white;
    display: none;
}

header nav{
    padding: 1.25em;
}

header nav .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav .menu{
    width: 100%;
}

header nav .menu .activa{
    color: var(--colorprincipal);
}

header nav .menu a:hover{
    color: var(--colorprincipal);
}

header nav .hamburguesa{
    cursor: pointer;
    width: 1.875em;
}

header nav .hamburguesa div{
    border-top: 2px solid #aaa;
    margin-bottom: 0.625em;
}

header nav figure{
    max-width: 100px;
}

header nav .menu a{
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    padding: 1.25em;
    color: #aaa;
    border-bottom: 1px solid #aaa;
}

header nav .menu li:last-child a{
    border-bottom: 0px;
}


/* final header */

/* inicio footer */

footer{
    background-color: var(--colorsecundario);
    padding: 1.25em 0px;
    text-align: center;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 110%;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: var(--colorprincipal);
}

.flecha a{
    display: block;
    color: var(--colorprincipal);
    font-size: 300%;
    position: fixed;
    bottom: 4.375rem;
    right:1.25rem;
}
/* final footer */

/* inicio del hero */

.hero {
    background-image: url('../images/fondo.jpg');
    height: 60vh;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: #888;
    padding-top: 17vh;
    color: white;
}

.hero h1{
    font-family: var(--fuentetitulos);
    font-size: 2.25em;
}

.hero h2{
    color: var(--colorprincipal);
    font-size: 1.25em;
    margin: var(--margingrid) 0;
}

.hero p{
    font-size: 1.15em;
}

.boton{
    display: inline-block;
    background-color: var(--colorprincipal);
    padding: 1.15em;
    color: white;
    text-decoration: none;
    border: 1px solid var(--colorprincipal);
}

.boton:hover{
    background-color: transparent;
    color: var(--colorprincipal);
}

.boton:hover i{
    transition: transform 0.5s;
    transform: translateX(5px);
}

.hero .container>div{
    margin: var(--margingrid) 0;
}

.hero .social{
    display: flex;
    justify-content: space-between;
    width: 10.5em;
}

.hero .social a{
 color: white;
 font-size: 2em;
} 

.hero .container{
    padding: 0 var(--margingrid);
}

/* final hero */

/* inicio our services */

main section{
    padding: 2.125em var(--margingrid);
} 

main section h2{
    color: black;
    font-family: var(--fuentetitulos);
    font-size: 2em;
    text-align: center;
}

main section h2 span{
    color: var(--colorprincipal);
}

main section .underline{
    position: relative;
    width: 6.25rem;
    margin: 0 auto;
}

main section .underline hr{
    position: absolute;
    width: 100%;
    top: -2px;
    border-color: var(--colorprincipal);
}

main section .underline span{
    text-align: center;
    display: block;
    color: var(--colorprincipal);
    font-weight: 700;
}

main section .grid{
    display: flex;
    flex-wrap: wrap;
}

main section:last-child{
    margin-bottom: 3em;
}

main #services article{
    border-bottom: 1px solid #aaa;
    padding: 1.5em 0;
}

main #services article>div i{
    color: var(--colorprincipal);
    font-size: 140%;
    border: 1px solid var(--colorprincipal);
    padding: 0.5em;
    display: inline-block;
}

main #services article h3{
    margin: var(--margingrid) 0;
    font-size: 110%;
    font-weight: 700;
}

main section p{
    color: #666;
    line-height: 1.15em;
    margin-bottom: var(--margingrid);
}

main section .enlace{
    color: var(--colorprincipal);
    text-decoration: none;
    font-weight: 700;
}

.fa-truck{
    transform: rotateY(180deg);
}


/* fin our services */

/* inicio about us */

main #aboutus .grid figure{
    /* provisional  background-color: tomato;*/
   /* provisional  height: 400px;*/
    width: 100%;
}

main #aboutus .grid>div{
   /* provisional  background-color: violet;*/
   /* provisional  height: 400px;*/ 
    width: 100%;
}


main #aboutus .grid h3{
    font-size: 110%;
    font-weight: 700;
}

main #aboutus .grid h4{
    margin: var(--margingrid) 0;
    color: var(--colorprincipal);
}

main #aboutus .imagen{
    width: 93%;
    margin: 1.5em auto;
}

main #aboutus .imagen .marco{
    border: 3px solid var(--colorprincipal);
    transform: rotateZ(10deg);
    transition: 1s;
}

main #aboutus .imagen .marco img{
    transform: rotateZ(-10deg);
    transition: 1s;
}

main #aboutus .imagen:hover :is(.marco, .marco img){
    transform: rotateZ(0deg);
}
/* fin about us */

/* inicio mediqueries */
@media(min-width: 48em){
    header .nav-top a i{
        font-size: 120%;
    }

    header .nav-top span{
        display: inline;
    }

    header .nav-top .container{
        justify-content: space-between;
    }

    footer{
        text-align: left;
    }

    main #services article{
        width: 50%;
        border-bottom: 0px;
        border-left: 1px solid #aaa;
        padding: 1.5em;
        margin: var(--margingrid) 0;
    }

    main #services article:last-child{
        width: 100%;
    }

    main #aboutus .grid figure, main #aboutus .grid>div{
        width: 50%;
    }

    main #aboutus .grid h3{
        margin-top: var(--margingrid);
    }

    main #aboutus .imagen{
        margin: var(--margingrid) 0 2em 0;
    }

}

@media(min-width: 62.75em){
    header nav .menu{
        width: auto;
    }

    header nav .hamburguesa{
        display: none;
    }

    header nav .menu li{
        display: inline-block;
    }

    header nav .menu a{
        padding: 0.5em 0 1.25em 1.25em;
        border-bottom:0px;
    }

    .hero .container{
        padding: 0;
    }

    main #services article{
        width: 33.333%;
    }
    
    main #services article:last-child{
        width: 33.333%;
    }




}